.goods-main{
    display: grid;
    grid-template-columns: 250px 3fr;
    gap: 50px;
    margin-top: 100px;
}

.goods-find-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    gap: 20px;
}

.goods-find-car{
    width: max(50vw, 250px);
}

.goods-find-car span{
    display: none;
    
}

.goods{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
    justify-content: center;
}

.goods-loader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-button{
    display: flex;
    align-items: center;
    justify-content: end;
}

#no-goods{
    text-align: center;
}

.goods-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 350px;
}

@media (width < 64rem){
    .goods-main{
        grid-template-columns: 1fr;
    }
}

