.cart-cover{
    position: absolute;
    inset: 0;
    height: 100%;
    background-color: var(--cover);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container{
    height: max(200px, 70vh);
    width: max(300px, 70vw);
    background-color: white;
    border-radius: 10px;
}

.cart-products{
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    height: 75%;
}

.cart-total-price{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 20px;
    height: 20%;
}

.cart-submit{
    background-color: var(--dark-blue-light);
    border: 1px solid var(--dark-blue);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}