.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    max-width: 100%;
}

.nav-links {
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-icons{
    display: flex;
    padding-left: 0;
    list-style: none;
    gap: 30px;
    margin-inline: 3%;
}

.nav-menu{
    display: none;
    margin-inline: 10px;
}

.nav-menu-links{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--dark-blue);
    overflow-x: hidden;
    padding-top: 100px;
    transition: width 300ms;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav-menu-links button{
    position: absolute;
    top: 16px;
    left: 10px;
}

.nav-menu-links a{
    border-bottom: 1px solid var(--gray);
}

.nav-user-menu{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--dark-blue);
    overflow: hidden;
    padding-top: 100px;
    transition: width 300ms;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.nav-user-menu button{
    position: absolute;
    top: 16px;
    right: 10px;
    
}

.nav-user-menu a{
    border-bottom: 1px solid var(--gray);
}

.active{
    width: 30%;
}


@media (max-width: 50rem) {
    .nav-links{
        display: none;
    }
    .nav-icons{
        margin-left: 0;
    }
    .nav-menu{
        display: inline-block;
    }
}
@media (max-width: 32.5rem) {
    .nav-icons{
        gap: 0;
    }
}