.main-search-image{
    height: 400px;
    width: 100vw;
    background-image: url("../../../assets/img/Main-image.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-search-form{
    width: max(50%, 500px);
    height: 70px;
    display: flex;
    justify-content: center;
    gap: var(--gap);
    align-items: center;
}

.main-search-form .label span{
    display: none;
}

.main-find-car{
    margin-bottom: 0;
    width: 400px;
}

@media (max-width: 31.25rem){
    .main-search-submit{
        display: none;
    }
    .main-find-car{
        width: 80vw;
    }
}